body {
    text-align: center;
}

.foreground {
  position: absolute;
  width: 505px;
  height: 550px;
}

.layer {
  background-color: rgba(245, 245, 245, 0.7);
  position:absolute;
  top: 45px;
  left: 245px;
  width:505px;
  height: 550px;
}
