body {
    text-align: center;
}

.foreground {
  position: absolute;
  width: 505px;
  height: 550px;
  /* display:run-in; */
}

/*.layer {
  background-color: rgba(245, 245, 245, 0.7);
  position:absolute;
  top: 45px;
  left: 346px;
  width:505px;
  height: 550px;
  visibility: visible;
}*/

.win {
  padding: 200px 0;
  visibility: hidden ;
}
